*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}
/* inizio header */
header{
    height: 60px;
    width: 100%;
    background-color: rgb(252, 81, 8);
    position: fixed;
    display: flex;
    
}

.reparto{
    height: 100%;
    width: calc(100%/3);
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;

}

.logo{
    height: 100%;
    width: calc(100%/3);
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo img{
    height: 30%;
    width: 30%;
}

.icons{
    height: 100%;
    width: calc(100%/3);
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    color: white;
}
/* fine header */

/* inizio main */
main{
    height: 1560px;
    width: 100%;
    
}

.container{
    height: 70%;
    max-width: 1270px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    padding: 70px;
}

.product{
    margin-top: 10px;
    margin-bottom: 20px;
    width: calc(97%/3);
    height: 45%;
    border: dotted 1px black;
    padding: 15px;
}

img{
    width: 100%;
    height: 100%;
}

.prima{
    display: block;
}
    
.seconda{
    display: none;
    
}

.product:hover .seconda{
    display: block;
}

.product:hover .prima{
    display: none;
}

