*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 60px;
    width: 100%;
    background-color: rgb(252, 81, 8);
    position: fixed;
    display: flex;
}

.reparto{
    height: 100%;
    width: calc(100%/3);
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;

}

.logo{
    height: 100%;
    width: calc(100%/3);
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo img{
    height: 30%;
    width: 30%;
}

.icons{
    height: 100%;
    width: calc(100%/3);
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    color: white;
}
